.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_modificacion_contrato_label { }
.css_modificacion_contrato_line {text-align:left;}
.css_modificacion_contrato_obj {text-align:left;}
.css_avance_label { }
.css_avance_line {text-align:left;}
.css_avance_obj {text-align:left;}
.css_facturacion_label { }
.css_facturacion_line {text-align:left;}
.css_facturacion_obj {text-align:left;}
.css_costos_label { }
.css_costos_line {text-align:left;}
.css_costos_obj {text-align:left;}
.css_saldo_ur_label { }
.css_saldo_ur_line {text-align:left;}
.css_saldo_ur_obj {text-align:left;}
.css_backlog_p_label { }
.css_backlog_p_line {text-align:left;}
.css_backlog_p_obj {text-align:left;}
.css_backlog_f_label { }
.css_backlog_f_line {text-align:left;}
.css_backlog_f_obj {text-align:left;}
.css_valor_uf_label { }
.css_valor_uf_line {text-align:left;}
.css_valor_uf_obj {text-align:left;}
