.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_presupuesto_periodo__label {text-align:;}
.css_id_presupuesto_periodo__line {text-align:left;}
.css_id_presupuesto_periodo__obj {text-align:left;}
.css_id_proyecto__label {text-align:;}
.css_id_proyecto__line {text-align:left;}
.css_id_proyecto__obj {text-align:left;}
.css_id_item__label {text-align:;}
.css_id_item__line {text-align:left;}
.css_id_item__obj {text-align:left;}
.css_monto_uf__label {text-align:;}
.css_monto_uf__line {text-align:left;}
.css_monto_uf__obj {text-align:left;}
.css_avance__label {text-align:;}
.css_avance__line {text-align:left;}
.css_avance__obj {text-align:left;}
