.css_id_label {text-align:;}
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_presupuesto_periodo_label { }
.css_id_presupuesto_periodo_line {text-align:left;}
.css_id_presupuesto_periodo_obj {text-align:left;}
.css_id_hito_label { }
.css_id_hito_line {text-align:left;}
.css_id_hito_obj {text-align:left;}
