.css_id_tipo_hito_label { }
.css_id_tipo_hito_line {text-align:left;}
.css_id_tipo_hito_obj {text-align:left;}
.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_id_usuario_asignado_label { }
.css_id_usuario_asignado_line {text-align:left;}
.css_id_usuario_asignado_obj {text-align:left;}
.css_id_actividad_label { }
.css_id_actividad_line {text-align:left;}
.css_id_actividad_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_periodos_partidas_asociados_label { }
.css_periodos_partidas_asociados_line { }
.css_periodos_partidas_asociados_obj { }
