.css_razon_social_label, .css_razon_social_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_razon_social_grid_line, .css_razon_social_grid_line:hover {vertical-align: top;text-align: right;}
.css_rut_label, .css_rut_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rut_grid_line, .css_rut_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_nombre_label, .css_nombre_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line, .css_nombre_grid_line:hover {vertical-align: top;text-align: right;}
