.css_origen_label, .css_origen_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_origen_grid_line, .css_origen_grid_line:hover {vertical-align: top;text-align: left;}
.css_id_usuario_destino_label, .css_id_usuario_destino_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_usuario_destino_grid_line, .css_id_usuario_destino_grid_line:hover {vertical-align: top;text-align: right;}
.css_fecha_label, .css_fecha_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line, .css_fecha_grid_line:hover {vertical-align: top;text-align: center;}
.css_contenido_label, .css_contenido_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_contenido_grid_line, .css_contenido_grid_line:hover {vertical-align: top;text-align: left;}
.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
