.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_id_periodo_det_label, .css_id_periodo_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_periodo_det_line, .css_id_periodo_det_line:hover {height:0px;text-align: left;}
.css_estado_det_label, .css_estado_det_label:hover {text-align: left;vertical-align: middle;}
.css_estado_det_line, .css_estado_det_line:hover {height:0px;text-align: left;}
.css_observaciones_det_label, .css_observaciones_det_label:hover {text-align: left;vertical-align: middle;}
.css_observaciones_det_line, .css_observaciones_det_line:hover {height:0px;text-align: left;}
.css_fecha_det_label, .css_fecha_det_label:hover {text-align: left;vertical-align: middle;}
.css_fecha_det_line, .css_fecha_det_line:hover {height:0px;text-align: left;}
.css_usuario_det_label, .css_usuario_det_label:hover {text-align: left;vertical-align: middle;}
.css_usuario_det_line, .css_usuario_det_line:hover {height:0px;text-align: left;}
