.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_id_actividad_label { }
.css_id_actividad_line {text-align:left;}
.css_id_actividad_obj {text-align:left;}
.css_appointment_start_date_label { }
.css_appointment_start_date_line { }
.css_appointment_start_date_obj { }
.css_appointment_start_time_label { }
.css_appointment_start_time_line { }
.css_appointment_start_time_obj { }
.css_appointment_end_time_label { }
.css_appointment_end_time_line { }
.css_appointment_end_time_obj { }
.css_current_status_id_label { }
.css_current_status_id_line {text-align:left;}
.css_current_status_id_obj {text-align:left;}
.css_intervalo_label { }
.css_intervalo_line { }
.css_intervalo_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_busca_proyecto_label {color:#66CC33;}
.css_busca_proyecto_line { }
.css_busca_proyecto_obj { }
