.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_proyecto__label { }
.css_id_proyecto__line {text-align:left;}
.css_id_proyecto__obj {text-align:left;}
.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_correlativo_mes__label { }
.css_correlativo_mes__line {text-align:left;}
.css_correlativo_mes__obj {text-align:left;}
.css_valor_uf_presupuesto__label { }
.css_valor_uf_presupuesto__line {text-align:left;}
.css_valor_uf_presupuesto__obj {text-align:left;}
