.css_appointment_status_id__label {text-align:right;}
.css_appointment_status_id__line {text-align:right;}
.css_appointment_status_id__obj {text-align:left;}
.css_appointment_status_descr__label { }
.css_appointment_status_descr__line { }
.css_appointment_status_descr__obj { }
.css_color__label { }
.css_color__line { }
.css_color__obj { }
