.css_id_label {text-align:;}
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_agrupador1_label {text-align:;}
.css_agrupador1_line {text-align:left;}
.css_agrupador1_obj {text-align:left;}
.css_tipo_proyecto_label {text-align:;}
.css_tipo_proyecto_line {text-align:left;}
.css_tipo_proyecto_obj {text-align:left;}
.css_id_proyecto_label { }
.css_id_proyecto_line { }
.css_id_proyecto_obj { }
.css_items_proyecto_label { }
.css_items_proyecto_line { }
.css_items_proyecto_obj { }
