.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_proyecto__label {text-align:center;vertical-align:middle;}
.css_id_proyecto__line {text-align:left;}
.css_id_proyecto__obj {text-align:left;}
.css_id_item__label {text-align:center;vertical-align:middle;}
.css_id_item__line {text-align:left;}
.css_id_item__obj {text-align:left;}
.css_fecha__label {text-align:center;vertical-align:middle;}
.css_fecha__line { }
.css_fecha__obj { }
.css_monto_uf__label { }
.css_monto_uf__line {text-align:left;}
.css_monto_uf__obj {text-align:left;}
.css_vigente__label { }
.css_vigente__line {text-align:left;}
.css_vigente__obj {text-align:left;}
.css_observaciones__label { }
.css_observaciones__line { }
.css_observaciones__obj { }
.css_orden__label {text-align:;}
.css_orden__line {text-align:left;}
.css_orden__obj {text-align:left;}
.css_tipo_moneda__label { }
.css_tipo_moneda__line { }
.css_tipo_moneda__obj { }
.css_id_partida_periodo__label {text-align:center;vertical-align:middle;}
.css_id_partida_periodo__line { }
.css_id_partida_periodo__obj { }
.css_valor_unitario__label { }
.css_valor_unitario__line {text-align:left;}
.css_valor_unitario__obj {text-align:left;}
.css_unidades__label {text-align:center;vertical-align:middle;}
.css_unidades__line {text-align:left;}
.css_unidades__obj {text-align:left;}
