.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_id_item_label { }
.css_id_item_line {text-align:left;}
.css_id_item_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_monto_uf_label { }
.css_monto_uf_line {text-align:left;}
.css_monto_uf_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_id_partida_label { }
.css_id_partida_line { }
.css_id_partida_obj { }
.css_avance_proyecto_label { }
.css_avance_proyecto_line { }
.css_avance_proyecto_obj { }
.css_monto_disponible_label { }
.css_monto_disponible_line { }
.css_monto_disponible_obj { }
