.css_L1C1_label, .css_L1C1_label:hover {text-align:center;vertical-align:middle;background-color:#FFFFFF;}
.css_L1C2_label, .css_L1C2_label:hover {text-align:center;vertical-align:middle;background-color:#CCFFCC;}
.css_L1C3_label, .css_L1C3_label:hover {text-align:center;vertical-align:middle;background-color:#CCFFFF;}
.css_L1C4_label, .css_L1C4_label:hover {text-align:center;vertical-align:middle;background-color:#CCFFCC;}
.css_empresa_label, .css_empresa_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_empresa_grid_line, .css_empresa_grid_line:hover {vertical-align: top;}
.css_id_proyecto_label, .css_id_proyecto_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_proyecto_grid_line, .css_id_proyecto_grid_line:hover {vertical-align: top;text-align: right;}
.css_fecha_label, .css_fecha_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line, .css_fecha_grid_line:hover {background-color:#CCFFFF;vertical-align: top;text-align: center;}
.css_tipo_moneda_label, .css_tipo_moneda_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tipo_moneda_grid_line, .css_tipo_moneda_grid_line:hover {vertical-align: top;text-align: right;}
.css_valor_uf_presupuesto_label, .css_valor_uf_presupuesto_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_valor_uf_presupuesto_grid_line, .css_valor_uf_presupuesto_grid_line:hover {vertical-align: top;text-align: right;}
.css_presupuesto_acumulado_label, .css_presupuesto_acumulado_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_presupuesto_acumulado_grid_line, .css_presupuesto_acumulado_grid_line:hover {text-align: right;}
.css_facturacion_acumulada_label, .css_facturacion_acumulada_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_facturacion_acumulada_grid_line, .css_facturacion_acumulada_grid_line:hover {text-align: right;}
.css_facturacion_acumulada_tot_ger, .css_facturacion_acumulada_tot_ger:hover {text-align: ;text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_reajuste_acumulado_label, .css_reajuste_acumulado_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_reajuste_acumulado_grid_line, .css_reajuste_acumulado_grid_line:hover {text-align: right;}
.css_retencion_acumulada_label, .css_retencion_acumulada_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_retencion_acumulada_grid_line, .css_retencion_acumulada_grid_line:hover {text-align: right;}
.css_multa_acumulada_label, .css_multa_acumulada_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_multa_acumulada_grid_line, .css_multa_acumulada_grid_line:hover {text-align: right;}
.css_avance_label, .css_avance_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_avance_grid_line, .css_avance_grid_line:hover {vertical-align: top;text-align: right;}
.css_porcentaje_avance_label, .css_porcentaje_avance_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_porcentaje_avance_grid_line, .css_porcentaje_avance_grid_line:hover {vertical-align: top;text-align: right;}
.css_porcentaje_avance2_label, .css_porcentaje_avance2_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_porcentaje_avance2_grid_line, .css_porcentaje_avance2_grid_line:hover {vertical-align: top;text-align: right;}
.css_ur_real_label, .css_ur_real_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ur_real_grid_line, .css_ur_real_grid_line:hover {background-color:#FFFFCC;font-weight:bold;vertical-align: top;text-align: right;}
.css_ur_real_tot_ger, .css_ur_real_tot_ger:hover {text-align: ;text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_backlog_p_label, .css_backlog_p_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_backlog_p_grid_line, .css_backlog_p_grid_line:hover {vertical-align: top;text-align: right;}
.css_backlog_p_tot_ger, .css_backlog_p_tot_ger:hover {text-align: ;text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_backlog_f_label, .css_backlog_f_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_backlog_f_grid_line, .css_backlog_f_grid_line:hover {vertical-align: top;text-align: right;}
.css_backlog_f_tot_ger, .css_backlog_f_tot_ger:hover {text-align: ;text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_iva_label, .css_iva_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_iva_grid_line, .css_iva_grid_line:hover {text-align: right;}
.css_mod_contrato_iva_label, .css_mod_contrato_iva_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_mod_contrato_iva_grid_line, .css_mod_contrato_iva_grid_line:hover {text-align: right;}
.css_sc_field_0_grid_line, .css_sc_field_0_grid_line:hover {text-align: right;}
.css_facturacion_acumulada_S_tot_ger, .css_facturacion_acumulada_S_tot_ger:hover {text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_ur_real_S_tot_ger, .css_ur_real_S_tot_ger:hover {text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_backlog_p_S_tot_ger, .css_backlog_p_S_tot_ger:hover {text-align: right;background-color:#CCFFCC;font-weight:bold;}
.css_backlog_f_S_tot_ger, .css_backlog_f_S_tot_ger:hover {text-align: right;background-color:#CCFFCC;font-weight:bold;}
