.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_id_carpeta_label { }
.css_id_carpeta_line {text-align:left;}
.css_id_carpeta_obj {text-align:left;}
.css_id_tipo_doc_label { }
.css_id_tipo_doc_line {text-align:left;}
.css_id_tipo_doc_obj {text-align:left;}
.css_nombre_documento_label { }
.css_nombre_documento_line { }
.css_nombre_documento_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
