.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_proyecto__label {text-align:;}
.css_id_proyecto__line {text-align:left;}
.css_id_proyecto__obj {text-align:left;}
.css_id_item__label {text-align:;}
.css_id_item__line {text-align:left;}
.css_id_item__obj {text-align:left;}
.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_monto_uf__label {text-align:;}
.css_monto_uf__line {text-align:left;}
.css_monto_uf__obj {text-align:left;}
.css_vigente__label {text-align:;}
.css_vigente__line {text-align:left;}
.css_vigente__obj {text-align:left;}
.css_observaciones__label { }
.css_observaciones__line { }
.css_observaciones__obj { }
.css_orden__label {text-align:;}
.css_orden__line {text-align:left;}
.css_orden__obj {text-align:left;}
.css_id_partida__label {text-align:;}
.css_id_partida__line {text-align:left;}
.css_id_partida__obj {text-align:left;}
.css_avance__label {text-align:;}
.css_avance__line {text-align:left;}
.css_avance__obj {text-align:left;}
