.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_id_actividad_label { }
.css_id_actividad_line {text-align:left;}
.css_id_actividad_obj {text-align:left;}
.css_appointment_start_date_label { }
.css_appointment_start_date_line { }
.css_appointment_start_date_obj { }
.css_appointment_start_time_label { }
.css_appointment_start_time_line { }
.css_appointment_start_time_obj { }
.css_appointment_end_date_label { }
.css_appointment_end_date_line { }
.css_appointment_end_date_obj { }
.css_appointment_end_time_label { }
.css_appointment_end_time_line { }
.css_appointment_end_time_obj { }
.css_current_status_id_label { }
.css_current_status_id_line {text-align:left;}
.css_current_status_id_obj {text-align:left;}
.css_appointment_recurrent_label { }
.css_appointment_recurrent_line { }
.css_appointment_recurrent_obj { }
.css_appointment_period_label { }
.css_appointment_period_line { }
.css_appointment_period_obj { }
.css_intervalo_label { }
.css_intervalo_line { }
.css_intervalo_obj { }
