.css_id_proyecto_label { }
.css_id_proyecto_line {text-align:left;}
.css_id_proyecto_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_modificacion_contrato_label { }
.css_modificacion_contrato_line { }
.css_modificacion_contrato_obj { }
.css_reajuste_label { }
.css_reajuste_line {text-align:left;}
.css_reajuste_obj {text-align:left;}
.css_retencion_label { }
.css_retencion_line {text-align:left;}
.css_retencion_obj {text-align:left;}
.css_avance_label { }
.css_avance_line {text-align:left;}
.css_avance_obj {text-align:left;}
.css_multa_label { }
.css_multa_line {text-align:left;}
.css_multa_obj {text-align:left;}
.css_facturacion_label { }
.css_facturacion_line {text-align:left;}
.css_facturacion_obj {text-align:left;}
.css_costos_label { }
.css_costos_line {text-align:left;}
.css_costos_obj {text-align:left;}
.css_backlog_p_label { }
.css_backlog_p_line { }
.css_backlog_p_obj { }
.css_backlog_f_label { }
.css_backlog_f_line { }
.css_backlog_f_obj { }
.css_correlativo_mes_label { }
.css_correlativo_mes_line {text-align:left;}
.css_correlativo_mes_obj {text-align:left;}
.css_duracion_contrato_label { }
.css_duracion_contrato_line { }
.css_duracion_contrato_obj {text-align:right;}
.css_monto_proyecto_label { }
.css_monto_proyecto_line { }
.css_monto_proyecto_obj {text-align:right;}
