.css_id_hito_label { }
.css_id_hito_line {text-align:left;}
.css_id_hito_obj {text-align:left;}
.css_estado_label { }
.css_estado_line {text-align:left;}
.css_estado_obj {text-align:left;}
.css_fecha_hito_label { }
.css_fecha_hito_line { }
.css_fecha_hito_obj { }
.css_adjunto_label { }
.css_adjunto_line { }
.css_adjunto_obj { }
.css_link_externo_label { }
.css_link_externo_line { }
.css_link_externo_obj { }
.css_periodo_label { }
.css_periodo_line { }
.css_periodo_obj { }
